<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discovery</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="/CSS/estilodisc.css">
</head>

<body>
    <header>
        <div class="container">
            <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light ">
                <div class="container-fluid">
                    <a class="navbar-brand" ></a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#nav">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="nav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <h5 class="nav-link  mt-3">HOME</h5>
                            </li>
                            <li class="nav-item dropdown">
                                <p class="nav-link  mt-3">DISCOVERY</p>
                            </li>
                            <li class="nav-item dropdown">
                                <p class="nav-link  mt-3">PHOTOS</p>
                            </li>
                            <li class="nav-item dropdown">
                                <p class="nav-link  mt-3">CONTACT</p>
                            </li>
                            <li class="nav-item dropdown"></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <section class="carrousel">
        <div id="carouselExampleDark" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="/Media/IMG/prado.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 >TRAVELGUIDE</h5>
                        <p>Some representative placeholder content for
                            the first slide.</p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="/Media/IMG/Osorno.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Second slide label</h5>
                        <p>Some representative placeholder content for
                            the second slide.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
    <div class="row">
        <div class="col-md-4 a">
            <div class="p-5 ">
                <h3 class="margin-t">quisque viverra interdum velit?</h3>
                <hr>
                <span>Amazing places to visit!! </span>
                <section>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima fugiat magni
                            commodi deleniti id hic et ex facere, in doloribus voluptas incidunt accusamus
                            alias laborum repellendus obcaecati dolor at? Dicta. Lorem, ipsum dolor sit amet 
                            consectetur adipisicing elit. Cumque, quasi. Magnam cumque a consequuntur sapiente, 
                            nisi voluptate at odit cum ipsum eligendi vitae error tenetur minus perferendis ex debitis est.
                        </p>
                        <br>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis aspernatur totam sapiente,
                            inventore consectetur fugit omnis blanditiis voluptas nemo, fugiat dolores dolorem, sint commodi 
                            numquam reprehenderit quos velit qui Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius 
                            quod dolorem explicabo quibusdam distinctio, nisi vitae exercitationem? Quaerat aspernatur mollitia nemo. 
                            Dignissimos sit exercitationem ipsam unde fugiat illum magni doloremque.
                    </p>
                </section>
            </div>
        </div>
        <div class="col-md-8 a">
            <div class="p-5 ">
                <div class="row">
                    <div class="col-md-3"><h4 >Johnatan Walker</h4></div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Atque assumenda molestias id ab doloribus? Quis, saepe facilis corrupti nulla ullam similique in reprehenderit vitae 
                        aliquam labore? Debitis, asperiores! Corporis, architecto!
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-3 mt-5"><h4 >Brenda Mercer</h5></div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Atque assumenda molestias id ab doloribus? Quis, saepe facilis corrupti nulla ullam similique in reprehenderit vitae 
                            aliquam labore? Debitis, asperiores! Corporis, architecto!
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md ml-5 mt-4"><iframe width="825" height="400" src="https://www.youtube.com/embed/7Ilu033ydSw?si=xrFsIA-TQDf0Q8ju" title="YouTube video player"
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 a">
                <div class="p-5 ">
                    <hr>
                    <h6>Small Title - Subtitle</h6>
                </div>
            </div>
        </div>
</body>
<footer>
    <div class="row">
        <div class="col-md">
            <div class="row">
                <div class="col-md">
                    <div>
                        <p href="">Home</p>
                    </div>
                    <div>
                        <p href="">Discovery</p>
                    </div>
                    <div>
                        <p href="">Photos</p>
                    </div>
                    <div>
                        <p href="">Contact</p>
                    </div>
                </div>
                <div class="col-md">
                    <div>
                        <p href="">About</p>
                    </div>
                    <div>
                        <p href="">Help</p>
                    </div>
                    <div>
                        <p href="">Terms</p>
                    </div>
                    <div>
                        <p href="">Guildines</p>
                    </div>
                </div>
                <div class="col-md">
                    <div>
                        <p href="">Testimonials</p>
                    </div>
                    <div>
                        <p href="">Advertise</p>
                    </div>
                    <div>
                        <p href="">Integrations</p>
                    </div>
                    <div>
                        <p href="">Careers</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md">
            <input type="text" class="transparent-input" placeholder="Email">
            <div>
                <p class="mt-2"> stay in touch with us for the freshest products!</p>
            </div>
        </div>
        <div class="col-md">
            <img class="ml-2" src="/Media/IMG/instagram.png" alt="Insta">
            <img class="ml-2" src="/Media/IMG/twitter.png" alt="x">
            <img class="ml-2" src="/Media/IMG/facebook.png" alt="feis">
        </div>
    </div>
</footer>


</html>